body {
  font-family: "Helvetica", sans-serif;
}

body {
  background-image: url("images/Website background.jpg");
}
/* inline display of navigaion buttons*/
#toolbar {
  background-color: #800080;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800080;
}
li {
  display: inline;
  margin-right: 6px;
  float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

/* end of navigation bar--/
h2 {
  color: #800080;
  }

 #banner {
  background-color: #E6E6FA;
  padding: 2%;
  }

footer {
    background-color: #E6E6FA;
    padding: 3%;
}
