body {
  font-family: "Helvetica", sans-serif;
}

body {
  background-image: url("images/Website background.jpg");
}
/* inline display of navigaion buttons*/
#toolbar {
  background-color: #800080;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800080;
}
li {
  display: inline;
  margin-right: 6px;
  float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

h2 {
  color: #800080;
  }

 #banner {
  background-color: #E6E6FA;
  padding: 2%;
  }

footer {
    background-color: #E6E6FA;
    padding: 3%;
    font-size: 60%;
    text-align: center;
}
/* Style inputs with type="text", select elements and textareas */
input[type=Formtext], select, textarea {
    width: 100%; /* Full width */
    padding: 15px; /* Some padding */
    border: 2px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 7px;
    background-color: #f2f2f2;
    padding: 16px;
  
}
